<div class="register-content forgetpawword-div">
	 <div class="forget-common-header" style="background-color: #000000;color: #fff">
			<div class="header-wrap">
				<div class="header-left">
					<p class="page-title">等待激活</p>
				</div>
				
			</div>
		</div>
		<div class="activepage-content ">
			等待激活中 <span class="ani_dot" style="color:green">.....</span>
		</div>
  <footer class="main-footer main-footer-new">
    <p class="footerMessage">Accenture BPO Innovation Lab@2018, All rights reserved.</p>
  </footer>
</div>
