<div class="register-content forgetpawword-div ">
		<div class="forget-common-header ngebg">
			<div class="header-wrap">
				<div class="header-left">
					<p class="page-title">Reset password</p>
				</div>
				<div class="header-right">
					<a class="header-login" href="#!/login">Login</a>
				</div>
			</div>
		</div>
		<div class="forgetpassword-content">
			<div>
				<div class="section first-section">
					<div class="section_subnav">
					<ul class="subnav_process">
						<li ng-class="classflagone">
							<div>
								<i>1</i>
								<p>Fill in the account</p>
							</div>
							<i></i>
						</li>
						<li ng-class="classflagtwo">
							<div>
								<i>2</i>
								<p>Verify account</p>
							</div>
							<i></i>
						</li>
					   <li ng-class="classflagthree">
							<div>
								<i>3</i>
								<p>Set a new password</p>
							</div>
							<i></i>
						</li>
					  <li class="last" ng-class="classflagfour">
						<div>
							<i>4</i>
							<p>Finish</p>
						</div>
					</li>
					</ul>
					</div>
				</div>
			    <div class="section">
		     	   <div class="main_form">
		     	   	<div class="tips-one" ng-if="checkflag==1">
		     	   		<!--<div class="mod-form-block">
		     	  		  <label for="account">eid：</label>
		     	  		</div>-->
		     	  		<div class="formblock">
		     	  			<span class="span-eid">EID：</span> <input type="text" placeholder="Please enter your eid" ng-model="checkobj.eid"/>
		     	  		</div>
		     	  		<div class="mod-form-block" style="margin-bottom: 10px; width: 300px;">
		     	  			<span class="span-eid" style='position: relative;top: 10px; margin-right: 7px;'>Type:</span>
		     	  			<label for="emal" class="forget-label">
		     	  				email:  <input type="radio" name="tle" id="emal" value="2" ng-checked="true" ng-model="checkobj.inp"/>
		     	  			</label>
		     	  			<!--<label for="tle" class="forget-label">
		     	  				telephone:  <input type="radio" name="tle" id="tle" value="1" ng-model="checkobj.inp" />
		     	  			</label>-->
		     	  			<div class="forget-sure-btn" ng-if="codeFlag==false">
		     	  				<span ng-click="sendCodeFun()" class="forget-sure-btn">send</span>
		     	  			</div>
		     	  			
		     	  		</div>
		     	  		
		     	  		<!--<div class="mod-form-block">
		     	  		  <label for="account">telephone：</label>
		     	  		</div>
		     	  		<div class="formblock">
		     	  			<input type="text" placeholder="Please enter your telephone" ng-model="checkobj.telephone"/>
		     	  		</div>
		     	  		<div class="mod-form-block">
		     	  		  <label for="account">email：</label>
		     	  		</div>
		     	  		<div class="formblock">
		     	  			<input type="text" placeholder="Please enter your email" ng-model="checkobj.email"/>
		     	  		</div>-->
		     	  		<div class="formblock" ng-if="codeFlag==true">
		     	  			<span class="span-eid">code：</span><input type="text" placeholder="Please enter your code" ng-model="checkobj.validCode"/>
		     	  		</div>
		     	  		<div class="forget-sure-btn" ng-if="codeFlag==true">
		     	  			<span ng-click="checkFun()">sure</span>
		     	  		</div>
		     	   	</div>
		     	  	<div class="tips-two" ng-if="checkflag==2">
		     	  		<!--<div class="mod-form-block" >
		     	  		  <label for="account">code：</label>
		     	  		</div>
		     	  		<div class="formblock" >
		     	  			<input type="text"  ng-model="checkobj.code" disabled="disabled"/>
		     	  		</div>-->
		     	  		<!--<div class="mod-form-block">
		     	  		  <label for="account">password：</label>
		     	  		</div>-->
		     	  		<div class="formblock newformblock" style="width: 503px;position: relative;left: -99px;">
		     	  			<span class="span-password">password：</span>
		     	  			<input type="password" placeholder="Please enter your password" ng-model="checkobj.password"/>
		     	  		</div>
		     	  		<!--<div class="mod-form-block">
		     	  		  <label for="account">Confirm password：</label>
		     	  		</div>-->
		     	  		<div class="formblock newformblock" style="width: 503px; margin-top: 20px;position: relative;left: -99px;">
		     	  			<span class="span-password">Confirm password：</span>
		     	  			<input type="password" placeholder="Please enter your password" ng-model="checkobj.Confirmpassword"/>
		     	  		</div>
		     	  		<div class="forget-sure-btn">
		     	  			<span ng-click="modifyCodeFun()">sure</span>
		     	  		</div>
		     	  	</div>
		     	  		
		     	   </div>
		    	</div>
			</div>
		   
		</div>
		
		
  <footer class="main-footer main-footer-new forget-footer">
    <p class="footerMessage">Accenture BPO Innovation Lab@2018, All rights reserved.</p>
  </footer>
</div>
